@*Ancora da aggiungere una sezione per scegliere l'ente per l'admin*@
@{
    ViewData["Title"] = "Aggiungi nuova disponibilità";
}

<div class="container d-flex align-items-center justify-content-center flex-column">

    <h1 class="text-center text-primary-rgb my-4">@ViewData["Title"]</h1>
    <form method="post" class="d-flex flex-column w-25">
        <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            <input type="date" min="@ViewData["oggi"]" name="data" id="data" class="form-control" placeholder="dd/mm/yyyy" required>
        </div>
        <div class="mb-3">
            <label for="ora" class="form-label">Ora</label>
            <select class="form-select form-select-lm mb-3 text-primary-rgb" aria-label="Large select example"
                name="ora" required>
                <option selected>Ore disponibili</option>
                <option>09.00-10.00</option>
                <option>10.00-11.00</option>
                <option>11.00-12.00</option>
                <option>12.00-13.00</option>
                <option>14.00-15.00</option>
                <option>15.00-16.00</option>
                <option>16.00-17.00</option>
                <option>17.00-18.00</option>
            </select>

        </div>

        <button class="btn bg-tertiary-rgb text-secondary-rgb my-3">Salva</button>
    </form>

</div>